.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color)
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
  border-radius: 40%;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  height: 300px;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  box-shadow: 2px 2px 5px black;
  border-radius: 5px;
  --f: 1.10; /* the scale factor */
  clip-path: inset(0);
  transition: .5s;
}


.cards > ul > li img:hover {
  clip-path: inset(calc((1 - 1/var(--f)) * 50%));
  scale: var(--f)
}

.cards > ul > li:hover{
  cursor: pointer;
}